html,
body,
#root {
  height: 100%;
  margin: 0;
}

.ant-layout {
  /*background: none !important;*/
  background-image: url('assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@keyframes pssttt-shake {
  0% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-2px);
  }

  30% {
    transform: translateY(2px);
  }

  45% {
    transform: translateY(-2px);
  }

  60% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

.ant-layout-content {
  padding-bottom: 50px !important;
}

.ant-layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  text-align: center !important;
  background: rgba(46, 131, 126, 0.78);
  padding: 10px 0;
  font-size: 14px;
}

.assistantadvmodal {
  border: 1px solid rgba(46, 131, 126, 0.45);
  background-color: aliceblue;
  border-radius: 5px;
  padding: 0px 10px 5px 10px;
}
.assistantadvmodal>p{
   font-size: 12px;
}
.ifresultdisplay {
  border: 1px solid rgba(46, 131, 126, 0.45);
  padding: 0px 10px;
  border-radius: 5px;
  margin: 10px 0px;



}